.houseBackground {
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.4s;
}

.houseBackground:hover {
  filter: brightness(50%);
}

.houseDiv {
  width: 50%;
  height: 50%;
  float: left;
}

.houseDiv:hover {
  transition: 600ms;
}
